html{
    font-size: 16px;
    font-family: vogue;
}

body{
    height: 100vh;
    text-align: center;
    margin: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    box-sizing: border-box;
    background-image: url(/items/background.png);
    background-repeat: no-repeat;
    background-size: cover;

    @media (max-width:700px){
        gap: 1rem;
    }
}

img{
    @media (max-width:700px){
        width: 10rem;
    }

}

h1{
    color: #F5F8E9 ;
    font-size: 3rem;

    @media (max-width:700px){
        font-size: 1.5rem;
    }
}


.main-color{
    color:#8CAB3E ;
}

.center{
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /* 3 equal columns */
    gap: 16px; /* space between columns */
    @media (max-width:700px){
        grid-template-columns: 1fr; /* 2 equal columns */
    }

  }

a:link, a:active{
    text-decoration: none;
}


.icon-button{
    padding: 3rem 4rem;
    background-color: #F0F8DA ;
    border: #8CAB3E  solid 1.5px;
    border-radius: 1rem;
    font-size: 3rem;


    @media (max-width:700px){
        padding: 1.2rem 3rem;
        font-size: 2rem;
    }
}

